doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/lib/jquery/dist/jquery.min.js', type="text/javascript")
		script(src='/lib/bootstrap/dist/js/bootstrap.min.js', type="text/javascript")
	body
		//- navbar.navbar-default.navbar-static-top(role='navigation')
		//- 	.container
		//- 			.navbar-header
		//- 				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
		//- 					span.sr-only Toggle navigation
		//- 					span.icon-bar
		//- 					span.icon-bar
		//- 					span.icon-bar
		//- 				a.navbar-brand(href='#') atest-#{brand}
		//- 			.navbar-collapse.collapse
		//- 				ul.nav.navbar-nav
		//- 					- var obj = { 'home':'Home', 'about':'About' }
		//- 						- each val, key in obj
		//- 							- if (id == key)
		//- 								li.active
		//- 									a(href='#{key}') #{val}
		//- 							- else            
		//- 								li
		//- 									a(href='#{key}') #{val}
		block content