html,
body {
  height: 100%;
  overflow: hidden;
}
.app-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.start-page {
  height: 100%;
  background: #3b5fbb;
  color: #ffffff;
}
.start-page .enter-stock-code {
  width: 630px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -315px;
}
.start-page .enter-stock-code .input {
  width: 400px;
  float: left;
  height: 40px;
  border: solid 1px #ffffff;
  color: #ffffff;
  border-radius: 4px;
  background: none;
  padding-left: 10px;
}
.start-page .enter-stock-code .input::-webkit-input-placeholder {
  color: #fff;
}
.start-page .enter-stock-code .input:focus {
  background: #fff;
  color: #3b5fbb;
  outline: none;
}
.start-page .enter-stock-code .btn {
  height: 40px;
  border: solid 1px #ffffff;
  background: none;
  color: #ffffff;
  float: left;
  margin-left: 5px;
}
.stock-detail {
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  color: #888888;
}
.stock-detail a {
  color: #333333;
}
.stock-detail b {
  font-weight: normal;
}
.stock-detail .side-bar {
  width: 340px;
  height: 100%;
  float: left;
  overflow: auto;
  position: relative;
  border-right: solid 1px #f2f2f2;
  background: #3b5fbb;
  color: #c5d9ef;
}
.stock-detail .side-bar .side-hd {
  padding: 30px 10px;
  margin: 0 20px;
}
.stock-detail .side-bar .side-hd .group {
  line-height: 36px;
  margin-right: 10px;
}
.stock-detail .side-bar .side-hd .action {
  position: absolute;
  right: 30px;
  top: 30px;
}
.stock-detail .side-bar .side-hd .action a {
  border: solid 1px #ffffff;
  background: none;
  color: #ffffff;
  float: left;
  margin-left: 5px;
}
.stock-detail .side-bar .side-bd {
  padding: 30px;
}
.stock-detail .side-bar .side-bd ul li {
  padding: 10px 0;
}
.stock-detail .side-bar .side-bd ul li a {
  display: block;
  padding-left: 14px;
  line-height: 1;
  font-size: 14px;
  color: #c5d9ef;
}
.stock-detail .side-bar .side-bd ul li a:hover {
  border-left: solid 4px #c5d9ef;
  color: #c5d9ef;
  padding-left: 10px;
  text-decoration: none;
}
.stock-detail .side-bar .side-bd ul li.cur a {
  border-left: solid 4px #ffffff;
  color: #ffffff;
  padding-left: 10px;
}
.stock-detail .main-content {
  overflow: hidden;
  height: 100%;
  overflow: auto;
}
.stock-detail .main-content .content-wrap {
  height: 100%;
  overflow: auto;
  position: relative;
}
.stock-detail .main-content .content-wrap .stock-info {
  padding: 30px;
}
.stock-detail .main-content .content-wrap .stock-info .info-hd {
  color: #333333;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
}
.stock-detail .main-content .content-wrap .stock-info .info-hd h3 {
  font-size: 28px;
  margin: 0;
}
.stock-detail .main-content .content-wrap .stock-info .info-hd h3 span {
  font-size: 14px;
  color: #888888;
  margin-left: 10px;
}
.stock-detail .main-content .content-wrap .stock-info .basic-info {
  padding: 20px 0;
  border-bottom: solid 1px #ddd;
}
.stock-detail .main-content .content-wrap .stock-info .basic-info .group {
  float: left;
  font-size: 14px;
  width: 300px;
}
.stock-detail .main-content .content-wrap .stock-info .basic-info .group span {
  color: #888888;
  float: left;
  width: 80px;
}
.stock-detail .main-content .content-wrap .stock-info .basic-info .group b {
  color: #333333;
}
.stock-detail .main-content .content-wrap .stock-info .stock-chart {
  padding: 30px;
}
.stock-detail .main-content .content-wrap .feed-list {
  padding: 10px 30px;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item {
  padding: 20px 0;
  border-bottom: dotted 1px #ddd;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .attitute {
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background: #3b5fbb;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  border-radius: 4px;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .feed-content .text {
  font-size: 18px;
  font-family: Times;
  color: #333;
  display: block;
  overflow: hidden;
  line-height: 30px;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .up {
  background: #37bb26;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .down {
  background: #bb3d2b;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .info {
  margin-top: 20px;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .info div {
  float: left;
  margin-right: 20px;
  color: #888888;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .info div span {
  color: #333333;
}
.stock-detail .main-content .content-wrap .feed-list .feed-item .info .time {
  float: right;
}
.stock-detail .main-content .content-wrap .feed-list .show-more a {
  display: block;
  margin: 20px 20px;
  text-align: center;
  line-height: 50px;
  color: #888888;
  border: solid 1px #888888;
  font-size: 18px;
}
.stock-detail .main-content .content-wrap .feed-list .show-more a i {
  margin-right: 20px;
}
.stock-detail .main-content .content-wrap .feed-list .show-more a:hover {
  text-decoration: none;
  border-color: #3b5fbb;
  color: #ffffff;
  background: #3b5fbb;
}
