<div class="feed-list">
	<div class="feed-list-bd">
		<div class="feed-item" ng-repeat="item in feeds">
			<div class="feed-content">
				<span class="attitute fa fa-{{item.attitute | attituteIcon}}"></span><span class="text">{{item.content}}</span>
			</div>
			<div class="info clearfix">
				<div class="author">作者：<span>{{item.authorName}}</span></div>
				<div class="source">来源：<span>Twitter</span></div>
				<div class="time">时间：<span>{{item.time | date:'yyyy-MM-dd HH:mm'}}</span></div>
			</div>
		</div>
		<div class="show-more">
			<a href="javascript:void(0)" ng-click="showMore()"><i class="fa fa-plus"></i>加载更多</a>
		</div>
	</div>
</div>