<div class="stock-detail clearfix">
	<div class="side-bar">
		<div class="side-hd">
			<div class="action">
				<a href="#" class="btn" ui-sref="start_page">切换</a>
				<a href="#" class="btn">订阅</a>
			</div>
			<div class="group">
				{{stock.name}} |
				<span>代码:</span>
				{{stock.code}}
			</div>
		</div>
		<div class="side-bd">
			<ul>
				<li class="{{cur.indexOf('.stock_info')>-1?'cur':''}}" ng-click="setCur('.stock_info')">
					<a href="#" ui-sref=".stock_info({ code: stock.code })">基本信息</a>
				</li>
				<li class="{{cur.indexOf('.feed_list')>-1?'cur':''}}" ng-click="setCur('.feed_list')">
					<a href="#" ui-sref=".feed_list({ code: stock.code })">Feed</a>
				</li>
				<li class="{{cur.indexOf('.rating')>-1?'cur':''}}" ng-click="setCur('.rating')">
					<a href="#" ui-sref=".rating({ code: stock.code })">评级</a>
				</li>
				<li class="{{cur.indexOf('.stock_info1')>-1?'cur':''}}" ng-click="setCur()">
					<a href="#">财报</a>
				</li>
				<li class="{{cur.indexOf('.stock_info2')>-1?'cur':''}}" ng-click="setCur()">
					<a href="#">内部交易</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="main-content">
		<div class="content-wrap" ui-view>
			
		</div>
	</div>
</div>