<div class="start-page">
	<form action="" class="enter-stock-code clearfix">
		<input type="text" class="input" placeholder="请输入股票代码" ng-model="stockCode">
		<button class="btn" ng-click="goToDetail()">查看近期动态</button>
		<button class="btn">订阅动态信息</button>
	</form>
</div>