<div class="stock-info" id="stockInfo">
	<div class="info-hd">
		<h3>
			奇虎360
			<span>代码：QIHU</span>
		</h3>
	</div>
	<div class="basic-info clearfix">
		<div class="group">
			<span>当日价格</span> <b>64.12</b>
		</div>
		<div class="group">
			<span>涨跌额</span> <b>+0.37</b>
		</div>
		<div class="group">
			<span>涨跌幅</span>
			<b>+0.58%</b>
		</div>
		<div class="group">
			<span>当日最低价</span>
			<b>64.12</b>
		</div>
		<div class="group">
			<span>当日最高价</span>
			<b>64.12</b>
		</div>
		<div class="group">
			<span>52周最低价</span>
			<b>64.12</b>
		</div>
		<div class="group">
			<span>52周最高价</span>
			<b>64.12</b>
		</div>
		<div class="group">
			<span>市盈率</span>
			<b>98.67</b>
		</div>
		<div class="group">
			<span>市值</span>
			<b>1648.90亿</b>
		</div>
		<div class="group">
			<span>成交量</span>
			<b>3439.84万</b>
		</div>
	</div>
	<div class="stock-chart">
		<highchart id="chart1" config="chartConfig" class="span10"></highchart>
	</div>
</div>