@blue: #3b5fbb;
@lightblue:#c5d9ef;
@red: #bb3d2b;
@green: #37bb26;
@lightgreen: #b9ffad;
@dark: #333;
@gray: #888;
@light: #f2f2f2;
@white: #fff;

html, body {
   height:100%;
   overflow: hidden;
}

.app-wrap {
   height:100%;
   position: relative;
   overflow:hidden;
}

.start-page {
   height: 100%;
   background:@blue;
   color:@white;
   .enter-stock-code {
      width:630px;
      position: absolute;
      top:50%;
      left:50%;
      margin: -20px 0 0 -315px;
      .input {
         width:400px;
         float: left;
         height:40px;
         border:solid 1px @white;
         color:@white;
         border-radius: 4px;
         background: none;
         padding-left:10px;
      }
      .input::-webkit-input-placeholder { color:#fff; }
      .input:focus {
         background: #fff;
         color:@blue;
         outline: none;
      }
      .btn {
         height:40px;
         border:solid 1px @white;
         background:none;
         color:@white;
         float: left;
         margin-left: 5px;
      }
   }
}
.stock-detail {
   height: 100%;
   overflow: hidden;
   background: @white;
   color:@gray;
   a {
      color:@dark;
   }
   b {
      font-weight: normal;
   }
   .side-bar {
      width:340px;
      height:100%;
      float: left;
      overflow: auto;
      position: relative;
      border-right:solid 1px @light;
      background:@blue;
      color:@lightblue;
      .side-hd {
         padding:30px 10px;
         margin:0 20px;
         // border-bottom:solid 1px #ddd;
         .group {
            line-height: 36px;
            margin-right: 10px;
         }
         .action{
            position: absolute;
            right:30px;
            top:30px;
            a {
               border:solid 1px @white;
               background:none;
               color:@white;
               float: left;
               margin-left: 5px;
            }
         }
      }
      .side-bd {
         padding:30px;
         ul{
            li{
               padding:10px 0;
               a{
                  display: block;
                  padding-left:14px;
                  line-height: 1;
                  font-size:14px;
                  color:@lightblue;
               }
               a:hover {
                  border-left:solid 4px @lightblue;;
                  color:@lightblue;;
                  padding-left:10px;
                  text-decoration: none;
               }
            }
            li.cur a {
               border-left:solid 4px @white;
               color:@white;
               padding-left:10px;
            }
         }
      }
   }
   .main-content {
      overflow: hidden;
      height: 100%;
      overflow: auto;
      .content-wrap {
         height: 100%;
         overflow: auto;
         position: relative;
         .stock-info {
            padding:30px;
            .info-hd {
               color:@dark;
               padding-bottom:20px;
               border-bottom:solid 1px #ddd;
               h3 {
                  font-size:28px;
                  margin:0;
               }
               h3 span {
                  font-size:14px;
                  color:@gray;
                  margin-left: 10px;
               }
            }
            .basic-info {
               padding:20px 0;
               border-bottom:solid 1px #ddd;
               .group {
                  float: left;
                  font-size:14px;
                  width:300px;
                  span {
                     color:@gray;
                     float: left;
                     width:80px;
                  }
                  b {
                     color:@dark;
                  }
               }
            }
            .stock-chart {
               padding:30px;
            }
         }
         .feed-list{
            padding:10px 30px;
            .feed-item {
               padding:20px 0;
               border-bottom: dotted 1px #ddd;
               .attitute {
                  float: left;
                  height:30px;
                  width:30px;
                  margin-right: 10px;
                  background:@blue;
                  color:#fff;
                  line-height: 30px;
                  text-align: center;
                  font-size:25px;
                  border-radius: 4px;
               }
               .feed-content .text {
                  font-size:18px;
                  font-family: Times;
                  color:#333;
                  display: block;
                  overflow: hidden;
                  line-height: 30px;
               }
               .up {
                  background: @green;
               }
               .down {
                  background: @red;
               }
               .info {
                  margin-top: 20px;
                  div {
                     float: left;
                     margin-right: 20px;
                     color:@gray;
                     span {
                        color:@dark;
                     }
                  }
                  .time {
                     float: right;
                  }
               }
            }
            .show-more {
               a{
                  display: block;
                  margin:20px 20px;
                  text-align: center;
                  line-height: 50px;
                  color:@gray;
                  border:solid 1px @gray;
                  font-size:18px;
                  i {
                     margin-right: 20px;
                  }
               }
               a:hover {
                  text-decoration: none;
                  border-color:@blue;
                  color:@white;
                  background: @blue;
               }
            }
         }
      }
   }
}